@import '~@blueprintjs/core/lib/scss/variables';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 50px);
  padding-top: 38px;
  padding-left: 36px;
  padding-right: 36px;
  background-color: #2f343c;

  div:first-child {
    background-color: transparent;
  }

  .input {
    display: flex;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: $gray5;
    margin: 12px 0;
    padding-bottom: 4px;

    span {
      display: inline-block;
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;

      &::after {
        content: '\002B New project';
        background-color: transparent;
        box-shadow: none;
        color: #2b95d6;
        min-width: 50px;
        width: unset;
      }

      &:active {
        &::after {
          background-color: transparent;
          box-shadow: none;
        }
      }

      &:focus {
        outline: none;
      }
    }
  }

  .list {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    list-style-type: none;

    li {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      cursor: pointer;

      .item-text {
        margin-left: 12px;
        flex-grow: 1;

        p {
          margin-bottom: 2px;
        }
        span {
          color: #a6a6a6;
        }
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .callout {
    ul {
      margin: 0;
      padding: 12px;
      padding-top: 0px;
    }
  }
  .no-state {
    margin-top: 50px;
  }
}
