$separator-size: 3px;

.drag-layout {
    display: flex;
    width: 100%;
    height: 100%;

    &.drag-layout-horizontal {
        flex-direction: row;
    }

    &.drag-layout-horizontal-reversed {
        flex-direction: row-reverse;
    }

    &.drag-layout-vertical {
        flex-direction: column;
    }

    &.drag-layout-vertical-reversed {
        flex-direction: column-reverse;
    }

    .nav {
        flex-grow: 1;
        overflow: hidden;
        transition: all 200ms;
    }

    .main,
    .left {
        overflow: hidden;
    }

    &.dragging {
        > .separator {
            background-color: rgb(78, 158, 255) !important;
        }
    }

    .separator {
        transition: all 200ms;
        position: relative;

        &:before {
            content: " ";
            display: block;

            background-color: rgba(125, 125, 125);
        }

        &:hover {
            background-color: rgba(125, 125, 125);
        }

        

        &.separator-horizontal,
        &.separator-horizontal-reversed {
            width: $separator-size;
            cursor: ew-resize;

            &:before {
                position: absolute;
                height: 100%;
                width: 1px;
                left: $separator-size / 2;
            }
        }

        &.separator-vertical,
        &.separator-vertical-reversed {
            height: $separator-size;
            cursor: ns-resize;

            &:before {
                position: absolute;
                width: 100%;
                height: 1px;
                top: $separator-size / 2;
            }
        }
    }
}
