@import "~@blueprintjs/core/lib/scss/variables";

.divider {
  margin-bottom: 6px;
  border: 1px solid;
  border-color: $gray3;
}

.wrapper-container {
  width: 100%;
  max-width: 700px;
  padding: 0px 2px;

  & .wrapper-container {
    padding-left: 0;
    padding-right: 0;
  }
  .wrapper-description {
    display: flex;
    align-items: flex-end;
    font-size: 18px;
  }
}