@import "~@blueprintjs/core/lib/scss/variables";
@import "../../../variables";

$item-bg-color: rgba(255, 255, 255, 0.2);

// #bp4-tab-panel_configTabs_5 {
//   .ra-schema-form {
//     .ra-schema-form {
//       margin-left: 0;
//       padding-left: 10px;
//       margin-bottom: 10px;
//     }
//   }
// }

.config-container {
  .ra-schema-form {
    row-gap: 20px;
    & .ra-schema-form {
      width: calc(100% - 40px);
    }

    & > .ra-schema-form {
      border: 1px solid $item-bg-color;
    }

    .string-wrapper,
    [data-registry="selectors"] {
      padding: 5px;
    }
  }
}

.create-container {
  .ra-schema-form {
    display: flex;
    flex-direction: column;
  }
}

.ra-schema-form {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  flex-grow: 1;

  & .ra-schema-form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .description {
    color: rgb(174, 174, 174);
  }

  & > div {
    flex-grow: 1;
  }

  .value-filled {
    color: $action-color;
  }

  .field-wrapper h3 {
    width: 100%;
    border-bottom: 1px solid $item-bg-color;
    margin-right: 10px;
    padding-bottom: 5px;
  }

  .ra-remove-button {
    background-color: $item-bg-color;
    padding-top: 12px;
    text-align: center;

    &:hover {
      background-color: rgb(135, 131, 116);
    }
  }

  [data-prop="Elements"] {
    padding-left: 10px;
  }

  [data-registry="addButton"] {
    margin-bottom: 10px;
  }

  [data-registry="removeButton"] {
    width: 30px;
  }

  .actionable:hover {
    cursor: pointer;
    color: $action-color;
  }

  [data-registry="array"] {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
  }

  .error {
    .schema-title,
    .error-message {
      color: $error-color;
    }
  }

  .object-wrapper {
    border: 1px solid $item-bg-color;
    padding: 5px;

    .schema-title {
      padding-bottom: 5px;
    }
  }
 
}
.boolean-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
}