.sequences {
    padding: 10px;
    .sequences-list {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        .sequences-block {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 5px;
            row-gap: 5px;
            background-color: rgba(255, 255, 255, 0.1);
            padding: 5px;
            align-items: center;
        }
    }
}
