@import "../../variables";

.title-panel {
    display: flex;
    flex-direction: column;
    max-height: 100%;

    .title-panel-header {
        font-weight: bold;
        display: flex;
        flex-direction: row;
        column-gap: $general-icons-gap;
        padding: $general-panel-padding;
        align-items: center;

        .title-panel-title {
            flex-grow: 1;
        }

        span[icon] {
            cursor: pointer;
            transition: all 200ms;

            &:hover {
                color: $action-color;
            }
        }

        background-color: #2b3138;
    }

    .title-panel-collapsible {
        padding: $general-panel-padding;
    }

    .title-panel-body {
        // padding: $general-panel-padding;
        display: block;
        flex-grow: 1;
        overflow: auto;
    }
}
