.modal {
  width: 550px;
  height: auto;
  background: #343a43;
  z-index: 10;
  border-radius: 4px;
  box-shadow: 0 5px 20px 0 rgba(75, 67, 67, 0.04);
}

.modal-content {
  padding: 10px;
  font-size: 14px;
  text-align: start;
}

.input-content {
  &.ra-schema-form {
    flex-direction: column;
  }
}
