.summary {
    span {
        margin-right: 6px;
    }

    .divider {
        margin: 0 10px 0 6px;
        vertical-align: middle;
        border-left: 1px solid;
        border-color: rgba(255, 255, 255, 0.2);
    }
}
